body {
	text-align: center;
}

* {
	font-family: arial;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 30px;
}

div {
	font-size: 17px;
}

a {
	color: blue;
	/* Transition for color takes .25s */
	-webkit-transition: color 0.25s ease-in-out;
	-moz-transition: color 0.25s ease-in-out;
	-o-transition: color 0.25s ease-in-out;
	transition: color 0.25s ease-in-out;
}
a:hover {
	color: red;
}
